* { box-sizing: border-box; }
html, body { margin: 0; padding: 0; }

:root {
    font-size: 20px;
}

/* 
 *
 * Color map:
 *
 *  #333        => #1A2214
 *  #888        => #888
 *  #aaa        => #aaa
 *  #ddd        => #ddd
 *  #efefef     => #efefef
 *  #fff        => #ffE
 *  #e63946     => #679756
 *  #457b9d     => #1A2214
 *
 * */

body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    color: #333;
    line-height: 1.5;
    overflow-y: scroll;
    background-color: #ffe;
}

hr {
    border: none;
    border-bottom: 1px solid #DDD;
}

ul {
    list-style-type: '— ';
}

pre {
    line-height: 1.25;
}

code {
    font-size: .8rem;
    padding: .25rem;
    background-color: #EFEFEF;
    border: 1px solid #AAA;
    border-radius: 2px;
}

pre>code {
    display: block;
    font-size: .8rem;
    padding: .5rem;
    background-color: #EFEFEF;
    border-color: #AAA;
    overflow-x: auto;
}

h1, h2, h3, h4, h5, h6 { font-weight: 300; }

a, a:hover, a:focus {
    color: #679756;
    text-decoration: none;
}

svg.colored-icon {
    display: inline-block;
    height: .5rem;
}

a svg.colored-icon {
    fill: #679756;
}

a.active {
    font-weight: 700;
}

a.alt {
    color: #1A2214;
}

a.alt svg.colored-icon {
    fill: #1A2214;
}

a:hover {
    color: #333;
}

a:hover svg.colored-icon {
    fill: #333;
}

.color-primary {
    color: #679756;
}

.color-secondary {
    color: #1A2214;
}

.full {
    flex-basis: 100%;
}

.half {
    flex-basis: 50%;
}

.one-third {
    flex-basis: 33.3333%;
}

.two-thirds {
    flex-basis: 66.6666%;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container {
    margin: 0 auto;
    width: 100%;
    padding: 0 1rem;
}

.container img {
    width: 100%;
}

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.page-footer {
    color: #888;
    font-size: 20px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.page-title {
    line-height: 1.3;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 1rem;
}

.page-title a {
    color: #333;
    text-decoration: none;
}

.page-info {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    flex-direction: column;

    text-align: left;
}

.language-select {
    font-size: .75rem;
}

.group-title {
    font-weight: 300;
    font-size: 1.25rem;
    margin-top: 0;
}

.work-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.year-item {
    display: block;
}

.work-item {
    display: block;
    margin-bottom: 1rem;
    padding-right: 1rem;
}

.link-small {
    font-size: 16px;
    display: block;
}

.tag {
    display: inline-block;
    font-size: 14px;
    background-color: #679756;
    color: #ffe;
}

.tag.alt {
    background-color: #1A2214;
}

.detail-heading {
    font-size: 1.75rem;
    line-height: 1.25;
    margin-bottom: 0;
}

.page-title a {
    color: #1A2214;
}

@media screen and (min-width: 600px) {

    .tablet-half {
        flex-basis: 50%;
    }

    .tablet-one-third {
        flex-basis: 33.3333%;
    }

    .tablet-two-thirds {
        flex-basis: 66.6666%;
    }

    .page-header {
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    .page-title {
        font-size: 64px;
    }

    .page-footer {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

}

@media screen and (min-width: 1040px) {

    .container {
        width: 1040px;
        padding: 0;
    }

    .desktop-half {
        flex-basis: 50%;
    }

    .desktop-one-third {
        flex-basis: 33.3333%;
    }

    .desktop-two-thirds {
        flex-basis: 66.6666%;
    }

    .page-info {
        text-align: right;
        align-content: flex-end;
        justify-content: center;
    }

}
