{% extends 'master.twig' %}

{% block body %}
    <div class="container">
        {% set alt = (work['info']['group'] is same as ('personal')) %}
        {% set appendix = (work['info']['appendix']) %}
        <h1 class="detail-heading">{{ title }}{{ (appendix ? ' - ' ~ appendix : '') }}</h1>
        <div class="{% if alt %}alt{% endif %} tag detail-subheading">{{ work['info']['tag']|_ }}</div>

        {% if work['info']['link'] %}<a href="{{ work['info']['link'] }}" target="_blank" class="link-small {% if alt %}alt{% endif %}"><svg class="colored-icon" viewbox="0 0 11 11"><use xlink:href="#icon-external" /></svg>  {{ 'project site'|_ }}</a>{% endif %}

        {{ work['contents']|raw }}
    </div>
{% endblock %}
