{% extends 'master.twig' %}

{% block body %}
    <div class="container">
        <h2 class="detail-heading">{{ 'Well, that is unfortunate!'|_ }}</h2>
        <span>{{ 'I could not find the work you are searching for.'|_ }}</span>
    </div>
{% endblock %}
