{% extends 'master.twig' %}

{% block body %}
	<div class="container grid">
		<div class="full tablet-half desktop-two-thirds">
            <div class="grid">
				<h2 class="group-title color-primary">{{ 'contract'|_ }}</h1>

				{% set group = 'contract' %}
				{% for year, current_works in works[group] %}
					<div class="full year-item"><h3>{{ year }}</h3></div>
					<ul class="full desktop-half work-list">
						{% include "partial-work-list.twig" with { 'odd': false } %}
					</ul>
					<ul class="full desktop-half work-list">
						{% include "partial-work-list.twig" with { 'odd': true } %}
					</ul>
				{% endfor %}
			</div>
		</div>

		<div class="full tablet-half desktop-one-third">
			<h2 class="group-title color-secondary">{{ 'team/personal'|_ }}</h1>

			{% set group = 'personal' %}
			{% for year, current_works in works[group] %}
				<div class="full year-item"><h3>{{ year }}</h3></div>
				<ul class="full desktop-third work-list">
					{% include "partial-work-list.twig" with { 'all': true, 'alt': 'true' } %}
				</ul>
			{% endfor %}
		</div>
	</div>
{% endblock %}
