<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="title" content="{{ (title ? title ~ ' — ' : null) }}Daniel Jenikovský">
    <meta name="description" content="{{ 'web design/development freelancing'|_ }}">

    <meta name="robots" content="index, follow">

    <title>Daniel Jenikovský{{ (title ? ' — ' ~ title : null) }}</title>

    {% if not error %}
    <link rel="alternate" hreflang="{{ lang }}" href="{{ current_url }}">
    {% for l in available_langs %}
    <link rel="alternate" hreflang="{{ l }}" href="{{ l|alt_url }}">
    {% endfor %}
    {% endif %}

    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/style.css?v=1.0.1">
</head>
<body>
    <svg style="display: none" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <g id="icon-external">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.60001 1.00001C6.60001 0.779092 6.77909 0.600006 7.00001 0.600006H9.50001C9.99706 0.600006 10.4 1.00295 10.4 1.50001V4.00001C10.4 4.22092 10.2209 4.40001 10 4.40001C9.77909 4.40001 9.60001 4.22092 9.60001 4.00001V1.96569L5.28285 6.28285C5.12664 6.43906 4.87337 6.43906 4.71716 6.28285C4.56095 6.12664 4.56095 5.87337 4.71716 5.71716L9.03432 1.40001H7.00001C6.77909 1.40001 6.60001 1.22092 6.60001 1.00001ZM3.00001 2.40001C2.11635 2.40001 1.40001 3.11635 1.40001 4.00001V8.00001C1.40001 8.88366 2.11635 9.60001 3.00001 9.60001H7.00001C7.88366 9.60001 8.60001 8.88366 8.60001 8.00001V6.91229C8.60001 6.69137 8.77909 6.51229 9.00001 6.51229C9.22092 6.51229 9.40001 6.69137 9.40001 6.91229V8.00001C9.40001 9.32549 8.32549 10.4 7.00001 10.4H3.00001C1.67452 10.4 0.600006 9.32549 0.600006 8.00001V4.00001C0.600006 2.67452 1.67452 1.60001 3.00001 1.60001H4.08773C4.30864 1.60001 4.48773 1.77909 4.48773 2.00001C4.48773 2.22092 4.30864 2.40001 4.08773 2.40001H3.00001Z"/>
            </g>
        </defs>
    </svg>

    <header class="container grid page-header">
        <div class="full desktop-half page-title">
            <a href="{{ (explicit_lang_url ? '/'~lang : '/') }}">Daniel<br>
            Jenikovský</a>
        </div>
        <ul class="full desktop-half page-info">
            <li class="language-select">
                {% for l in available_langs  %}
                    <a class="{{ (l == lang ? 'active' : null) }}" href="{{ (requested_work ? "/"~l~"/"~(requested_work|lang_work_alias(l)) : "/"~l) }}">{{ l }}</a>
                    {% if not loop.last %} | {% endif %}
                {% endfor %}
            </li>
            <li>student @ <a href="https://atelierduchu.com/autor/foxik0169" target="_blank">Ateliér Duchů</a></li>
            <li>{{ 'custom website development'|_ }}</li>
            <li>{{ 'indie game development'|_  }}</li>
            <li><a href="mailto:daniel@jmsystems.sk">daniel@jmsystems.sk</a></li>
        </ul>
    </header>

    <main>
    {% block body %}
    {% endblock %}
    </main>

    <footer class="container page-footer">
        {{ 'Built with Twig, Symfony Components, CommonMark and ♡.'|_ }}<br>
        {{ 'Copyright (c) 2021 by Daniel Jenikovský.'|_ }}
    </footer>
</body>
</html>
