{% for filename, work in current_works %}
    {% if (all or (loop.index % 2 == 0 and odd) or (loop.index % 2 != 0 and not odd)) and (group == work['group']) %}
        <li class="work-item">
            <div class="tag {% if alt %}alt{% endif %}">{{ work['tag']|_ }}</div><br><a {% if alt %}class="alt"{% endif %} href="{{ filename|work_url }}">{{ work['title'] }}{{ (work['appendix'] ? ' - ' ~ work['appendix'] : '') }}</a><br>
            {% if work['link'] %}
                <a class="{% if alt %}alt{% endif %} link-small" href="{{ work['link'] }}" target="_blank">
                    <svg class="colored-icon" viewbox="0 0 11 11"><use xlink:href="#icon-external" /></svg> {{ 'project site'|_ }}
                </a>
            {% endif %}
        </li>
    {% endif %}
{% endfor %}
