<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemalocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd http://www.w3.org/1999/xhtml http://www.w3.org/2002/08/xhtml/xhtml1-strict.xsd" xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">

	{% for category, years in works %}
		{% for year, current_works in years %}
			{% for filename, work in current_works %}
				<url>
					<loc>{{ filename|work_url|to_absolute }}</loc>
					<lastmod>{{ work.last_mod }}</lastmod>

					{% for lang in available_langs %}
						<xhtml:link rel="alternate" hreflang="{{ lang }}" href="{{ ('/' ~ lang ~ filename|work_url(lang))|to_absolute }}"/>
					{% endfor %}
				</url>
			{% endfor %}
		{% endfor %}
	{% endfor %}
</urlset>
